header{
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav.navbar{
    height: 82px;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        height: inherit;

        li{
            color: white;
            font-weight: 600;        
            font-size: 24px;
        }

        img {
            height: 150px;
            padding-top: 60px;
        }
    }
}